#paste-header{
    margin-bottom:15px;
}

#paste-header #paste-name{
    font-size:1.4em;
}

#paste-header #paste-download{
    width: initial;
    vertical-align: top;
    float:right;
    height: initial;
}
#paste-header #paste-download input{
    margin:0;
}
.commentForm > * {
    display: block;
    margin: 10px 0;
    padding: 5px;
}
.comment {
    margin: 10px 0;
}
.comment .title {
    font-size: 1.3em;
}
.comment .date {
    font-size: .9em;
}
.comment .text {
    font-size: 1.2em;
}
#paste-text {
    padding: 5px;
    border: 1px solid grey;
}
pre {
    padding:0px;
    margin:0px;
}
